@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 0px;
  margin: 0px;
  outline: none;
  box-sizing: border-box;
}

/* width */
*::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: black;
}

/* track */
*::-webkit-scrollbar-track {
  background: transparent;
  transition: background-color 0.2s, scale 0.2s, outline 0.2s,
    box-shadow 0.2s ease;
}

/* handle */
*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s, scale 0.2s, outline 0.2s,
    box-shadow 0.2s ease;
  border-radius: 4px;
}

/* handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s, scale 0.2s, outline 0.2s,
    box-shadow 0.2s ease;
}

:root {
  --main-background: black;
  --accent: rgba(228, 12, 12, 0.4);
  --cool-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.258) inset,
  0 0 1px 0px rgba(255, 255, 255, 0.258);
  --cool-shadow-red: 0 0 1px 0px rgba(255, 255, 255, 0.258) inset,
  0 0 1px 0px rgba(255, 255, 255, 0.258), , 0 8px 32px 0 rgba(223, 61, 61, 0.4);
  --cool-outline: 1px solid rgba(255, 255, 255, 0.258);
}

.menu {
  cursor: pointer;
  padding: 12px;
  margin: 0px 10px;
  margin-right: 0px;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.menu-link {
  margin-left: 16px;
  z-index: 20;
  transition: margin-top 0.2s, margin-right 0.2s, opacity 0.2s;
  margin-top: 16px;
  margin-right: 16px;

  padding: 16px;
  position: absolute;
  top: 100px;
  right: 0px;
  box-shadow: var(--cool-shadow);
  outline: var(--cool-outline);
  background-color: var(--accent);

  position: fixed;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.258) inset,
    0 0 1px 0px rgba(255, 255, 255, 0.258), 0 8px 32px 0 rgba(223, 61, 61, 0.4);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  display: flex;
    flex-direction: column;
}
.menu-link a {
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;

  padding: 12px 12px;
  margin: 0 10px;
  text-decoration: none;
}

.menu-link.attached {
  margin-top: 0px;
}

.menu-link::after {
  position: absolute;
  width: 100px;
  height: 100px;
}

body {
  color: white;
  background-color: black;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  min-height: 100dvh;
  max-width: 100dvw;
}
a {
  transition: background-color 0.2s, scale 0.2s, outline 0.2s, box-shadow 0.2s;
  text-decoration: none;
  border-radius: 8px;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}

nav * {
  text-wrap: nowrap;
}
nav h2 {
  font-size: 24px;
}
.h2style {
  margin: 0px;
  margin-right: 12px;
}

nav a:hover {
  /* outline: 1px solid rgba(255, 255, 255, 0.258);
  box-shadow: var(--cool-shadow);
  transition: background-color 0.2s, scale 0.2s,  outline 0.2s, box-shadow 0.2s; */
}
nav a {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;

  padding: 12px 12px;
  margin: 0 10px;
  text-decoration: none;
}
.flex-wrapper-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.cta-button {
  transition: background-color 0.2s, scale 0.2s, outline 0.2s, box-shadow 0.2s;
  display: flex;
  box-sizing: content-box;
  background-color: transparent;
  padding: 0px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: fit-content;
  outline: var(--cool-outline);
  border: none;
  box-shadow: none;
  box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.258) inset,
    0 0 1px 0px rgba(255, 255, 255, 0.258);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  cursor: pointer;
}
.cta-button a {
  padding: 12px 24px;
}
.cta-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.news-wrapper {
  display: grid;
  justify-items: baseline;
  align-items: center;
  justify-content: flex-start;
  grid-auto-flow: column;
  width: calc(100% - 32px);
  padding: 20px;
  padding: 16px 32px;
  gap: 32px;
  overflow: scroll;
}

.news-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.card h2 {
  margin: 16px;
}

.card {
  transition: background-color 0.2s, scale 0.2s, outline 0.2s, box-shadow 0.2s;
  border-radius: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: var(--cool-shadow);
  outline: var(--cool-outline);
  width: calc((100dvw - 128px) / 3);
  height: fit-content;
  cursor: pointer;
  max-width: calc(100dvw - 64px);
  min-width: 250px;
}

.advert {
  width: calc(100% - 64px);
  margin: 32px;
  background: var(--accent);
  box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.258) inset,
    0 0 1px 0px rgba(255, 255, 255, 0.258), 0 8px 32px 0 rgba(223, 61, 61, 0.4);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  padding: 16px 32px;
  outline: 1px solid rgba(255, 255, 255, 0.258);
  color: white;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.advert-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.win {
  color: rgba(72, 223, 61, 0.4);
}
.loss {
  color: rgba(223, 61, 61, 0.4);
}
.determining {
  color: rgba(223, 212, 61, 0.4);
}

.match .date {
  padding: 0px !important;
}

.match-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}
.status {
  font-weight: 600;
}

.staggerElements > * {
  opacity: 0;
}
.fromTop {
  opacity: 0;
}
.fromLeft {
  opacity: 0;
}
.fromRight {
  opacity: 0;
}
.fromBottom {
  opacity: 0;
}

.categories {
  padding-top: 10px;
  margin-left: 16px;
}
.category {

  outline: var(--cool-outline);
  box-shadow: var(--cool-shadow);
  padding: 8px;
  border-radius: 8px;
}
.category:hover {
  background-color: rgba(255, 255, 255, 0.1);

}


.card.match {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 150px;
  width: 300px;
}

.card:hover {
  transition: background-color 0.2s, scale 0.6s, outline 0.2s, box-shadow 0.2s;
  background-color: rgba(255, 255, 255, 0.1);
  scale: 1.02;
  transform-origin: bottom;
}
.card h3 {
  height: fit-content;
  margin: 16px;
  margin-top: 0px;
  font-size: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
.card .date {
  font-size: 12px;
  font-weight: 300;
  padding-left: 16px;
}
.card p {
  margin: 16px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card img {
  width: 100%;
  border-radius: 16px;
  aspect-ratio: 16 / 9;
  margin-bottom: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.match-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.title {
  padding-top: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 32px;
}
.title-alt {
  padding-top: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 32px;
}

.read-button {
  background-color: white;
}
.spacer {
  height: 123px;
}

.main-block {
  overflow: hidden;
  position: relative;
  outline: var(--cool-outline);
  box-shadow: var(--cool-shadow);
  padding-left: 48px;
  width: 90%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: calc(100dvh - 150px);
  display: flex;
  gap: 25px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.main-subtext {
  position: relative;
  font-size: 32px;
}
h1 {
  font-size: 64px;
}

form {
  display: flex;
  flex-direction: column;
}

label,
input {
  margin: 5px 0;
}

button {
  padding: 8px 15px;
}

nav.attached {
  margin: 0px;
  margin-bottom: 32px;
  border-radius: 0px;
  width: 100%;
}
main {
  min-height: calc(100dvh - 123px);
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  min-height: 200px;
  padding: 16px 32px;
  outline: var(--cool-outline);
  gap: 25px;
}
.footer-el {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}
nav {
  height: 85px;
  transition: border-radius 0.2s, width 0.2s, margin 0.2s, padding 0.2s;
  z-index: 20;
  top: 0;
  position: fixed;
  width: calc(100% - 32px);
  margin: 16px;
  margin-bottom: 32px;
  background: var(--accent);
  box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.258) inset,
    0 0 1px 0px rgba(255, 255, 255, 0.258), 0 8px 32px 0 rgba(223, 61, 61, 0.4);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  padding: 16px 32px;
  outline: 1px solid rgba(255, 255, 255, 0.258);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-content: center;
  justify-items: start;
  align-items: center;
}
.middle {
  width: 0px;
  overflow: hidden;
  justify-self: center;
}
.last {
  justify-self: right;
}
.links-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.links-wrapper 
.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.3);
  z-index: -10;
  background-image: url("../images/messi.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 100% 150%; */
  transition: background-image 0.2s;
  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.news-filter {

  border: none;
  padding: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding-top: 0px;

}
.news-filter form {
  gap: 10px;
  width: 300px;
}



.news-filter select {
  border: none;
  width: 100%;
  font-weight: 600;
  color: white;
  background-color: transparent;
  outline: var(--cool-outline);
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
}
.news-filter option {
  background-color: black;
  border: none;
  outline: none;
}
.news-filter button {
  transition: 0.2s background-color;
  background-color: var(--accent);
  border-radius: 10px;
  outline: var(--cool-outline);
  border: none;
  /* background-color: transparent ; */
  color: white;
  font-weight: 600;
  box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.258) inset,
    0 0 1px 0px rgba(255, 255, 255, 0.258), 0 8px 32px 0 rgba(223, 61, 61, 0.4);

}
.news-filter button:hover {
  background-color: rgba(228, 12, 12, 0.5);
}


.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-menu {
  margin-top: 20px;
  border-radius: 16px;
  padding: 32px;
  outline: var(--cool-outline);
  box-shadow: var(--cool-shadow);
  border: 18px;
  min-width: 350px;
}
.login-div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

input {
  width: 100%;
  margin: 0px;
  padding: 12px 24px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  outline: var(--cool-outline);
  box-shadow: var(--cool-shadow);
  color: white;
}
input[type="checkbox"] {
  width: min-content;
}


.red {
  transition: 0.2s background-color;
  background-color: var(--accent);
  border-radius: 10px;
  outline: var(--cool-outline);
  border: none;
  /* background-color: transparent ; */
  color: white;
  font-weight: 600;
  box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.258) inset,
    0 0 1px 0px rgba(255, 255, 255, 0.258), 0 8px 32px 0 rgba(223, 61, 61, 0.4); 
  padding: 12px 24px;
  
}
.red:hover {
  background-color: rgba(228, 12, 12, 0.5);

}
.full{
  width: 100%;
}
.fullnt {
  width: calc(100% - 32px);

}

.news-list {
  
  width: 100%;
  padding: 32px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: flex-start;
  gap: 16px;

  

}


.card.news-card {
  width: auto;
}


@media screen and (max-width: 860px) {


    

  h1 {
    font-size: 48px;
  }
  .middle {
    width: 0px;
    overflow: hidden;
  }
  .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-block {
    padding: 48px;
    border-radius: 16px;
    width: calc(100% - 64px);
  }
  .title {
    padding-top: 84px;
  }
  .title-alt {
    padding-top: 84px;
  }
  .last {
    justify-self: right;
  }
  /* handle */
  *::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
    transition: background-color 0.2s, scale 0.2s, outline 0.2s,
      box-shadow 0.2s ease;
    border-radius: 4px;
  }

  footer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@keyframes animate {
  0% {
    background-image: url("../images/messi.jpg");
  }
  50% {
    background-image: url("../images/messi.jpg");
  }
  51% {
    background-image: url("../images/ronaldo.jpg");
  }
  100% {
    background-image: url("../images/ronaldo.jpg");
  }
}

/* MOBILE */
@media (max-aspect-ratio: 1 / 1) {
}

/* DESKTOP */
@media (min-aspect-ratio: 1 / 1) {
}
