{% extends 'base.html' %}

{% block content %}
    <h2>Восстановление пароля</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <div>
            {{ form.new_password.label }}
            {{ form.new_password(class="form-control") }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}