{% extends 'base.html' %}

{% block content %}
<div class="login-wrap">
    <form method="POST" class="login-menu staggerElements">
        <h2>Восстановление пароля</h2>
        {{ form.hidden_tag() }}
        <div class="login-div">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="login-div">
            {{ form.new_password.label }}
            {{ form.new_password(class="form-control") }}
        </div>
        <div class="login-div">
            {{ form.submit(class="red full nomargin") }}
        </div>
    </form>
</div>
{% endblock %}