{% extends 'base.html' %}

{% block content %}
<div class="login-wrap">
    <h2>Авторизация</h2>
    <form method="POST" class="login-menu">
        {{ form.hidden_tag() }}
        <div class="login-div">
            {{ form.email.label }}
            {{ form.email(class="form-control" ,placeholder="Почта") }}
        </div>
        <div class="login-div">
            {{ form.password.label }}
            {{ form.password(class="form-control" ,placeholder="Пароль") }}
        </div>
        <div class="login-div row">
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        <div class="login-div center full ">
            {{ form.submit(class="red full nomargin") }}
        </div>

        <p  style="margin-top: 30px;">
            <a href="{{ url_for('forgot_password') }}">Забыли пароль?</a>
        </p>
    </form>

   
    
</div>
{% endblock %}
