{% extends 'base.html' %}

{% block content %}
<style>
    body {
        color: white;
        background-color: black;
        font-family: Arial, sans-serif;
        overflow-x: hidden;
        min-height: 100dvh;
        max-width: 100dvw;
      }
    .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: black;
        padding: 20px;
        box-shadow: 0 0 10px rgba(1,1,1,0.1);
    }
    h1 {
        font-size: 36px;
        color: #d9534f;
    }
    p {
        font-size: 18px;
        line-height: 1.6;
    }
    .highlight {
        font-weight: bold;
        color: #5bc0de;
    }
    .button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #5cb85c;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    .button:hover {
        background-color: #4cae4c;
    }
</style>
<body>
    <div class="container">
        <h1>Эй, вы! Да, именно вы!</h1>
        <p>
            Похоже, вы оказались на непроверенной тропе. Возможно, кто-то из наших игроков потерялся в лабиринте, или это просто футболист с мячом, который сбежал от тренировки! <span class="highlight">🤔</span>
        </p>
        <p>
            Не переживайте, в нашем клубе всегда найдётся место для приключений. Пожалуйста, присядьте и насладитесь атмосферой: где-то рядом мы готовим вкусный тайм-аут с горячей пиццей и прохладным напитком. <span class="highlight">🍕🥤</span>
        </p>
        <p>
            Пока вы ждёте, вот несколько интересных моментов о нашей команде, которые могут вас развеселить:
        </p>
        <br>
        <ul>
            <li>Знаете ли вы, что наши игроки могут забить гол даже с закрытыми глазами? Но, похоже, они забыли, как попасть на этот сайт!</li><br>
            <li>Мы считаем, что на поле не только забивают, но и смеются!</li>
        </ul>
        <p>Не упустите возможность вернуться на правильный путь и продолжить свой путь в мир футбольных страстей.</p>
        <a href="{{ url_for('index') }}" class="button">Вернуться на главную</a>
    </div>
</body>
</html>

{% endblock %}