{% extends 'base.html' %} {% block title %}Магазин{% endblock %} {% block
    content %}


    <div class="product-filter news-filter">
        <form method="GET">
            <label for="category">Filter by category:</label>
            <select name="category" id="category">
                <option value="all">All</option>
                <option value="clothes">Clothes</option>
                <option value="accessories">Accessories</option>
                <option value="other">Other</option>
            </select>
            <button type="submit">Filter</button>
        </form>
    </div>

    <div class="product-list news-list">
        {% for product in product_list %}
        
        <div class="product-card card news-card" onclick="redirect(`{{ url_for('product_detail', product_id=product.id) }}`)">
            
            <img src="{{ product.image_url }}" alt="{{ product.title }}">
            <div class="product-content news-content">
                <h3>{{ product.title }}</h3>
                <div class="date">{{ product.date }}</div>
                
                
                <div class="categories"><div class="category">{{ product.category }}</div></div>
                <p class="product-description news-description">{{ product.short_description }}</p>
                
            </div>
        
            <button class="red fullnt margin-16">3000 ₽</button>
            
        </div>
        {% endfor %}
    </div>
{% endblock %}
