{% extends "base.html" %}

{% block title %}Новость - {{ product.title }}{% endblock %}

{% block content %}
<a href="{{ url_for('products') }}" class="cta-button button-padding margin-16">Вернуться ко всем продуктам</a>
<div class="news-detail">
    <div class="news-container">
        <div class="news-header">
            <h1>{{ product.title }}</h1>
            <div class="news-meta">
                <span class="news-category">{{ product.category }}</span>
                <span class="news-date">{{ product.date }}</span>
            </div>
        </div>

        <div class="news-image">
            <img src="{{ product.image_url }}" alt="{{ product.title }}">
        </div>

        <div class="news-content">
            <p>{{ product.full_text }}</p>
        </div>

        <button class="red">Купить за 3000₽</button>

        
    </div>
</div>


{% endblock %}
