{% extends 'base.html' %} {% block title %}Регистрация{% endblock %} {% block
content %}


<div class="login-wrap">
  <form method="POST" action="{{ url_for('register') }}" class="login-menu">
    <h2>Регистрация</h2>
    {{ form.hidden_tag() }}
    <div class="login-div">
      {{ form.username.label }} {{ form.username(class="form-control") }}
    </div>
    <div class="login-div">
      {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="login-div">
        {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="login-div">
        {{ form.confirm_password.label }} {{
        form.confirm_password(class="form-control") }}
      </div>
    <div class="login-div center full">
      {{ form.submit(class="red full nomargin") }}
    </div>

    <div
      style="
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <a href="{{ url_for('forgot_password') }}">Забыли пароль?</a>
      <a href="{{ url_for('login') }}">Логин</a>
    </div>
  </form>
</div>
{% endblock %}
